<div class="container-fluid">
    <div class="row p-5">
        <div class="col-sm-6">
            <div class="card">
                <div div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingLogInput" placeholder="name@example.com">
                        <label for="floatingLogInput">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingLogPassword" placeholder="Password">
                        <label for="floatingLogPassword">Password</label>
                    </div>
                    <h5 class="text-danger" id="logwrong-answer"></h5>
                    <a href="#" class="btn btn-primary my-1" id="login-submit">Submit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <h5 class="text-danger" id="regwrong-answer"></h5>
                    <a href="#" class="btn btn-primary my-1" id="register-submit">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/login-register.js"></script>