<div class="container-fluid p-5">
    <div class="col py-2">
        <div class="card">
            <h5 class="card-header">{{po.title}} </h5>
            <div class="card-body">
                <p class="card-text">{{po.content}}</p>
                <br>
                <footer class="blockquote-footer">{{po.user.username}}</footer>
            </div>
        </div>
    </div>
</div>